.sidenav {
    width: 15%;
    height : 90%;
    position: fixed;
    background: #eee;
    overflow-x: hidden;
    padding: auto;
    margin : 0%;
  }

  .sidenav a {
    text-decoration: none;
    color: #2196F3;
    font-size: 16px;
    display: block;
  }

  .sidenav a:hover {
    color: #064579;
  }

  .main {
   margin-left: 15%;  
  }
